Figures/Y_Data_AllExamples.svg filter=lfs diff=lfs merge=lfs -text
Figures/DiIDiD_WholeTract.svg filter=lfs diff=lfs merge=lfs -text
Figures/DiIDiD_WholeTract.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_Fig1.svg filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_Fig2.svg filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_Fig3.svg filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_SFig1.svg filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_SFig2.svg filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_SFig3.svg filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_Sfig4.svg filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_Fig1.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_Fig2.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_Fig3.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_SFig1.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_SFig2.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_SFig3.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_Sfig4.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Y_Data_AllExamples.pdf filter=lfs diff=lfs merge=lfs -text
80_Appendix2_ClearT/ClearT.tgn filter=lfs diff=lfs merge=lfs -text
80_Appendix2_ClearT/ClearT_Suppl.tgn filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_SFig5.svg filter=lfs diff=lfs merge=lfs -text
Figures/EphB1_Sert_schematic.svg filter=lfs diff=lfs merge=lfs -text
Figures/EphB1_WT_DiIDiD.svg filter=lfs diff=lfs merge=lfs -text
Figures/EphB1_schematic.svg filter=lfs diff=lfs merge=lfs -text
Figures/ClearT_SFig5.pdf filter=lfs diff=lfs merge=lfs -text
Figures/EphB1_Sert_schematic.pdf filter=lfs diff=lfs merge=lfs -text
Figures/EphB1_WT_DiIDiDv1.pdf filter=lfs diff=lfs merge=lfs -text
Figures/EphB1_schematic.pdf filter=lfs diff=lfs merge=lfs -text
Figures/EphB1_WT_DiIDiDv1.svg filter=lfs diff=lfs merge=lfs -text
Figures/ESCretinacounts.svg filter=lfs diff=lfs merge=lfs -text
Figures/EphB1_InVitro.svg filter=lfs diff=lfs merge=lfs -text
Figures/ESCretinacounts.pdf filter=lfs diff=lfs merge=lfs -text
Figures/EphB1_InVitro.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ESC_VT_frontal.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ESC_frontal_122_125_119.pdf filter=lfs diff=lfs merge=lfs -text
Figures/ESC_horizontal_137_142.pdf filter=lfs diff=lfs merge=lfs -text
Figures/LinxMsFig.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Linx_fig1.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Linx_fig2.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Linx_fig3.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Linx_fig4.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Linx_fig5.pdf filter=lfs diff=lfs merge=lfs -text
Figures/LinxMsFig.svg filter=lfs diff=lfs merge=lfs -text
Figures/LinxFig3.pdf filter=lfs diff=lfs merge=lfs -text
Figures/LinxFig3.svg filter=lfs diff=lfs merge=lfs -text
Figures/EnFaceData_Screenshot.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Sert_dLGNold.pdf filter=lfs diff=lfs merge=lfs -text
Figures/EnFaceData_Screenshot.svg filter=lfs diff=lfs merge=lfs -text
Figures/PlexinA1.svg filter=lfs diff=lfs merge=lfs -text
Figures/PlexinA1.pdf filter=lfs diff=lfs merge=lfs -text
